<h1>詳細画面</h1>

<p>内容: <%= @client.name %></p>
<p>性別: <%= @client.sex %></p>
<p>お誕生日: <%= @client.born_on %></p>
<p>年齢: <%= @client.age %></p>
<p>情報: <%= @client.information %></p>

<%= link_to '利用者様一覧へ', clients_path %>

