<%= form_with(model: @client_care_record, url:client_care_records_path, local: true) do |form| %>
  <% if @client_care_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= @client_care_record.errors.count %>、入力しないで保存はできません。</h2>
      <ul>
      <% @client_care_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="care_record_content">
    <%= form.label :介護記録 %>
    <%= form.text_field :content %>
  </div>
  
  <%= form.submit %>
<% end %>
<%= link_to '介護記録一覧画面に戻る', client_care_records_path %>