<h1><%= Date.current.strftime('%Y年 %m月 %d日') %></h1>
<h1>様の介護記録</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @client_care_records.each do |client_care_record| %>
  <tr>
    <td><%= client_care_record.content %></td>
    <td><%= link_to '詳細確認', client_care_record_path(id: client_care_record) %></td>
    <td><%= link_to "編集する", edit_client_care_record_path(id: client_care_record) %></td>
    <td><%= link_to '削除する', client_care_record_path(id: client_care_record), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '記録を書く', new_client_care_record_path %>
<%= link_to '利用者様一覧へ', clients_path %>