<h1>〜様の介護記録</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @care_records.each do |care_record| %>
  <tr>
    <td><%= care_record.content %></td>
    <td><%= link_to '詳細確認', care_record_path(care_record.id) %></td>
    <td><%= link_to "編集する", edit_care_record_path(care_record.id) %></td>
    <td><%= link_to '削除する', care_record_path(care_record.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '記録を書く', new_care_record_path %>