<%= form_with(model: @care_record, local: true) do |form| %>
  <div class="care_record_content">
    <%= form.label :介護記録 %>
    <%= form.text_field :content %>
  </div>
  
  <%= form.submit %>
<% end %>
<%= link_to '介護一覧画面に戻る', care_records_path %>